SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DB_NAME=beauty_booking
DB_USER=beauty_booking
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
APP_BASE_URL=http://127.0.0.1:8000

TELEGRAM_NOTIFICATIONS_ENABLED=False
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
