SECRET_KEY=change-me-now
DEBUG=False

ALLOWED_HOSTS=yanina-beauty.by,www.yanina-beauty.by
CSRF_TRUSTED_ORIGINS=https://yanina-beauty.by,https://www.yanina-beauty.by

DB_NAME=beauty_booking
DB_USER=beauty_booking
DB_PASSWORD=strong-password-here
DB_HOST=db
DB_PORT=5432
DB_CONN_MAX_AGE=60

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

TELEGRAM_NOTIFICATIONS_ENABLED=False
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
APP_BASE_URL=https://yanina-beauty.by
